* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  /* font-family: 'Dancing Script', cursive'; */
}

.medium_screen {
  display: none;
}


/* big-screen */

.big_screen {
  height: 80px;
  background-color: rgb(247, 245, 244);
  align-content: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: black;
  position: sticky;
  top: 0;
  z-index: 100;

}

.big_screen h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  font-weight: 900;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
}

.menu ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.menu ul li a:hover {
  color: rgb(0, 0, 255);
}

.menu ul li .blog {
  position: absolute;
  height: 300px;
  width: 270px;
  background-color: rgb(252, 247, 240, 0.5);
  box-shadow: 0 1px 10px black;
  top: 60px;
  left: -60px;
  display: none !important;
}


/* .menu ul li a:hover .menu ul li .blog {
  display: block !important;
} */

.menu ul li .pages {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: rgb(252, 247, 240, 0.5);
  box-shadow: 0 1px 10px black;
  top: 60px;
  left: -60px;
  display: none !important;
}

/* .menu ul li a:hover .pages {
  display: block;
} */

.search-icon {
  display: flex;
  align-items: center;
  margin-left: 15px;
  padding: 10px;
}

.search {
  width: 250px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0.8px solid grey;
  background-color: rgb(241, 239, 237);
  padding: 10px;

}

.serch {
  background-color: blue;
  height: 40px;
  width: 45px;
  font-size: 20px;
  padding: 7px;
  color: white;
  font-weight: 900;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

.mooon {
  font-size: 25px;
  margin-left: 15px;
}

/* background-image section */

.background {
  height: 630px;
  width: 100%;
  margin: 0;
  position: relative;
}

.background img {
  height: 100%;
  width: 100%;
  opacity: 0.7;
}

.paragraph {
  height: 50px;
  width: 600px;
  position: absolute;
  top: 200px;
  left: 150px;
}

.background pre {
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
  font-weight: 900;
  color: black;
}

.background p {
  font-size: 20px;
  font-weight: 500;
}

.explore {
  height: 50px;
  width: 150px;
  text-align: center;
  background-color: rgb(69, 80, 203);
  font-size: 20px;
  color: white;
  border-radius: 23px;
  border: none;
  position: absolute;
  bottom: 230px;
  left: 150px;
}

.fa-arrow-left {
  height: 40px;
  width: 40px;
  background-color: rgb(69, 80, 203);
  text-align: center;
  padding-top: 13px;
  font-size: 15px;
  color: white;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.fa-arrow-right {
  height: 40px;
  width: 40px;
  background-color: rgb(69, 80, 203);
  text-align: center;
  padding-top: 13px;
  font-size: 15px;
  color: white;
  border-radius: 50%;
  border: none;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

/* detail section */
.detail {
  height: 150px;
  width: 1130px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 10px rgb(113, 113, 113);
  margin: 60px 0 0 300px;
  display: flex;
  align-items: center;
}

.detail-div {
  margin: 30px;
  align-content: center;
  font-size: 20px;
  display: flex;
}

.dat,
.desti,
.acti,
.guest {
  margin-left: 15px;
}

#date {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  opacity: 0.7;
  margin: 10px 10px 0 0;
  text-align: center;
  background-color: rgb(224, 224, 224);
}

#destinations {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  opacity: 0.7;
  margin: 10px 10px 0 0;
  text-align: center;
  background-color: rgb(224, 224, 224);
}

#activity {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  opacity: 0.7;
  margin: 10px 10px 0 0;
  text-align: center;
  background-color: rgb(224, 224, 224);
}

#guests {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  opacity: 0.7;
  margin: 10px 10px 0 0;
  text-align: center;
  background-color: rgb(224, 224, 224);
}

.tour {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  text-align: center;
  background-color: rgb(69, 80, 203);
  color: white;
  font-size: 20px;
  margin-top: 20px;
}


/* about section */
.about {
  height: 600px;
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0 0 150px;
}

.about-img {
  height: 100%;
  width: 40%;

}

.about-img img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.about-paragraph {
  height: 100%;
  width: 50%;
  padding: 5px 0 0 10px;
}

.about-paragraph .about-us {
  font-size: 60px;
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  margin: 20px;
}

.about-paragraph h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.about-paragraph .about-lorem {
  font-size: 20px;
  margin-bottom: 20px;
}

.about-paragraph ul {
  list-style-type: none;
}

.about-paragraph ul li {
  text-decoration: none;
  font-size: 25px;
  padding: 3px;
}

.fa-check-circle {
  color: rgb(108, 120, 250);
  border-radius: 50%;
}

.about-paragraph .booking {
  height: 50px;
  width: 200px;
  border-radius: 25px;
  border: none;
  margin: 35px 0 0 5px;
  text-align: center;
  background-color: rgb(69, 80, 203);
  color: white;
  font-size: 25px;

}

/* popular-tour section */
.tour-para {
  height: 600;
  margin-top: 100px;
  margin-bottom: 100px;
  /* box-shadow: 1px 2px 15px black; */
}


.feature {
  text-align: center;
}

.feature p {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: 600;
  color: rgb(69, 80, 203);
}

.feature h2 {
  font-size: 40px;
  font-weight: 600;
}

.popular-tour {
  height: 500px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;

}

.pop1 {
  height: 100%;
  width: 24%;
  box-shadow: 1px 2px 15px black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pop-img {
  height: 50%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pop-img img {
  height: 100%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pop-para {
  margin: 30px 0 0 20px;
}

.icon-para {
  display: flex;
  font-size: 20px;
  color: orange;
  padding-right: 5px;
  margin-left: 5px;
}

.icon-para i {
  padding-right: 5px;
}

.icon-para p {
  color: black;
}

.pop-para h3 {
  margin: 10px 0 10px 8px;
  font-size: 25px;
}

.pop-para h3:hover {
  color: rgb(69, 80, 203);
}

.pop-para pre {
  font-size: 20px;
}

.pop-para pre i {
  color: rgb(69, 80, 203);
}

.price {
  margin: 20px 0 0 5px;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  align-items: center;
}

.price h2 {
  color: rgb(69, 80, 203);
  margin-left: 8px;
}

.days {
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 0 0;
  font-size: 20px;
  align-items: center;
}

.days .p1 {
  color: rgb(69, 80, 203);
  font-weight: 900;
}

.pop2 {
  height: 100%;
  width: 24%;
  box-shadow: 1px 2px 15px black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pop3 {
  height: 100%;
  width: 24%;
  box-shadow: 1px 2px 15px black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.pop4 {
  height: 100%;
  width: 24%;
  box-shadow: 1px 2px 15px black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* section experience */

.experience {
  height: 500;
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z2xvYmUlMjBuZXR3b3JrfGVufDB8fDB8fHww');
  margin-bottom: 100px;
}



/* medium-screen */
@media screen and (max-width:992px) {

  .big_screen {
    display: none;
  }

  .medium_screen {
    height: 80px;
    background-color: rgb(247, 245, 244);
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;

  }

  .medium_screen h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 900;
    position: relative;
  }

  .icons {
    display: flex;
    align-items: center;

  }

  .barr {
    height: 40px;
    width: 35px;
    border-radius: 8px;
    padding: 9px 0 0 8px;
    font-size: 20px;
    color: white;
    background-color: blue;
  }


  .menus {
    height: 450px;
    width: 90%;
    background-color: rgb(252, 247, 240, 0.5);
    position: absolute;
    top: 70px;
    left: 35px;
    box-shadow: 2px 1px 15px rgb(0, 0, 0);
    display: none;
    z-index: 90000;
  }

  /* .barr:hover .menus {
    display: block !important;
  }   */

  .menus ul {
    list-style-type: none;
    margin: 50px 0 0 300px;
  }

  .menus ul li {
    padding: 5px;
  }

  .menus ul li a {
    text-decoration: none;
    font-size: 30px;
    color: black;
  }

  .menus ul li a:hover {
    color: blue;
  }

  .menus ul li .blog {
    position: absolute;
    height: 300px;
    width: 270px;
    background-color: rgb(252, 247, 240, 0.5);
    box-shadow: 0 1px 10px black;
    top: 60px;
    left: -60px;
    display: none !important;
  }


  /* .menu ul li a:hover .menu ul li .blog {
    display: block !important;
  } */

  .menus ul li .pages {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(252, 247, 240, 0.5);
    box-shadow: 0 1px 10px black;
    top: 60px;
    left: -60px;
    display: none !important;
  }

  /* .menus ul li a:hover .pages {
    display: block;
  } */


  .search-icon {
    margin: 30px 0 0 80px;
  }

  .search {
    width: 500px;
  }


  /* background image section */
  .explore {
    bottom: 230px;
    left: 50px;
  }

  .paragraph {
    left: 50px;
  }



  /* detail section */
  .detail {
    height: 270px;
    width: 800px;
    margin: 80px 0 0 50px;
    display: block;

  }

  .detail-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 40px;
  }


  #date {
    margin: 10px 50px 0 0;
  }

  #destinations {
    margin: 10px 50px 0 0;
  }

  #activity {
    margin: 10px 50px 0 0;
  }

  #guests {
    margin: 10px 50px 0 0;
  }

  .tour {
    margin: 0 0 0 280px;
  }



  /* about section */
  .about {
    margin: 80px 0 0 50px;
  }

  .about-paragraph {
    padding: 0 0 0 10px;
  }

  .about-paragraph .about-us {
    margin: 10px;
  }

  .about-paragraph h2 {
    font-size: 35px;
    margin-bottom: 10px;
  }

  .days {
    margin: 7px 10px 0 0;
  }


}